# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.pyc

# Virtual environment
Scripts/
Lib/
pyvenv.cfg

# Environment variables
.env

# Data (optional – if large)
data/raw/

# OS
.DS_Store
Thumbs.db
